__pycache__/
secretInfo.py
productLog.txt
failureLog.txt
cat import.csv
invoices/
logs/
test/
images/
*.xlsx
dupe_fix.py
temp.py
bad_descriptions.csv
fixed_receipts.xml
receiptFix_temp_2.py
receiptFix_temp.py
bad_receipts.pkl
InvoiceFROMWEB.xlsx
copy.xml
invoiceFROMWEB.xml
Invoice001.xml
*.json
duplicate_skus.py
duplicate_skus.csv
catFix.py
fake-load.py
cat import.csv
orders.pkl
test.py
fake-load.py
.pylint.d/
InvoiceFROMWEB.xml
README.md
TRENT, HELP!.png
cancellations.py
moreReady.pkl
orders.py
parseInvoices.py
picklist.py
picklist.txt
receiptFix/
receiptFlush.py
accounting/
forkathy.csv
products.csv
reports.py
time_report.py
temp/

